PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=-sAvKpHjtc5Nzbzth7IGcPCgK19CI1PE
APP_URL=http://${HOST}:${PORT}

DB_CONNECTION=mysql

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid

CACHE_VIEWS=false

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>
