<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @include('partials/mail')
  </head>
  <body>
    <div class="mail">
      <img
        src="https://i.ibb.co/Qvs67Gd/facebook.png"
        alt="Facebook"
        class="logo"
      />

      <p>
        Uma solicitação de recuperação de senha foi realizada para sua conta,
        se você não foi o autor, apenas desconsidere esse e-mail.
      </p>

      <p>
        Para continuar com a recuperação de senha clique no botão abaixo
        e crie uma nova senha.
      </p>

      <a href="{{ link }}" target="_blank" class="button">
        Recuperar minha senha
      </a>
    </div>
  </body>
</html>
